[core]
	autoCRLF = input
[diff]
	algorithm = histogram
	tool = vimdiff
[fetch]
	prune = true
[init]
	templatedir = ~/dotfiles/git_template
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[pull]
	rebase = true
