#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Others
#############

git_template/local-hooks/*
tmux.d/scripts/*.yml
zsh/*.zwc
zsh/.zcompdump
zsh/.zcompcache
zsh/.zprofile
!.keep
