[core]
	autoCRLF = input
[fetch]
	prune = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[init]
	templatedir = ~/dotfiles/git_template
